<div class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, porro doloribus. Eveniet, alias aut. Facere ad libero vero obcaecati quibusdam dolore, maxime maiores itaque, praesentium fugit accusamus, repellendus iste commodi.</p>
      </h2>
    </header>
    <div style="width: 30%; padding: 4rem;">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, eius!
        </div>
      </div>
    </div>
  </div>
  <div class="block block--dark block--skewed-right">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, porro doloribus. Eveniet, alias aut. Facere ad libero vero obcaecati quibusdam dolore, maxime maiores itaque, praesentium fugit accusamus, repellendus iste commodi.</p>
      </h2>
    </div>
  </div>