<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse neque
        consequatur praesentium voluptas facilis reiciendis aspernatur, alias
        quasi quo vero. Inventore dicta quis tenetur aut. Velit nulla aut libero
        officia.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--stretch">Get Started</a>
  </div>
</div>
